<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="bg-dark text-light p-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 bg-secondary p-4 rounded-4 shadow">
                <h3 class="mb-4 text-light text-center">Students Info</h3>
                <div class="table-responsive">
                    <table class="table table-dark table-striped table-hover table-bordered align-middle mb-0">
                        <thead>
                            <tr class="table-secondary text-dark text-center">
                                <th scope="col">Student Name</th>
                                <th scope="col">Course</th>
                                <th scope="col">Location</th>
                                <th scope="col">Status</th>
                                <th scope="col">Profile</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider text-center">
                            <tr>
                                <th scope="row">Alex</th>
                                <td>BCA</td>
                                <td>Pune</td>
                                <td class="table-success text-dark fw-bold">Passed</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-light">Manage</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Rose</th>
                                <td>BCA</td>
                                <td>Mumbai</td>
                                <td class="table-warning text-dark fw-bold">Passed</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-light">Manage</button>
                                </td>
                            </tr>
                            <tr class="table-danger text-dark">
                                <th>Philips</th>
                                <td>B.Tech</td>
                                <td>Delhi</td>
                                <td class="table-danger text-dark fw-bold">Failed</td>
                                <td>
                                    <button class="btn btn-danger">Manage</button>
                                </td>
                            </tr>
                            <tr>
                                <th>Richard</th>
                                <td>B.Tech</td>
                                <td>Banglore</td>
                                <td class="table-success text-dark fw-bold">Passed</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-light">Manage</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>